apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    uid: tempo
    editable: true
    isDefault: false
    version: 1
    jsonData: {}

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: loki
    editable: true
    isDefault: false
    jsonData:
      maxLines: 5000
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: '"trace_id"[=:]?\s*"([^"]+)"'
          name: TraceID
          url: "$${__value.raw}"
          urlDisplayLabel: "View Trace in Tempo"
          internal: true
        - datasourceUid: tempo
          matcherRegex: 'trace-[\w-]+'
          name: TraceID-Alt
          url: "$${__value.raw}"
          urlDisplayLabel: "View Trace"
          internal: true
      alertmanager:
        handleGrafanaManagedAlerts: true
